/* Base Styles */

body{
    margin: 30px;
}

.main_section{
    margin-top: 50px;
}
.main__image_container {
    width: 5em;
    border: 2px dashed gray;
}

img {
    width: 100%;
}

/* Layout */

.container{
    display: grid;
    justify-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    text-align: center;
    
    background-color: rgb(33, 38, 107);
    color: rgb(190, 190, 190);
} 

.header h1 {
    display: flex;
    margin: 0;
    margin-top: .5em;
    order: 3;
}
.header p {
    width: 20em; 
    display:flex;
    order: 4;
}

.navigation{
/* adding styling soon */
display: none;
}

.navigation__li {
    list-style: none;
}

.navigation__li a{
    color: white;
    text-decoration: none;
}

.navigation_check{
    display: none;
}

.navigation_check:checked ~ ul {
    display: inline-block;
    position: relative;
    left: 5em;
}

.navigation_label {
    width: 3em; 

}
.navigation_label_icon{
    width: 100%;
    border-radius: 10%;
    position: relative;
    left: 8em;
}
.footer{
    display: flex;
    flex-direction: column;
}

.footer h3{
    display: flex;
    order: -1;
}


/* Blocks */

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
